.searchCont{
    display: flex;
    flex-direction: column;
    gap: 10px;
  margin-bottom: 20px;
}

.searchLabel {
  font-weight: bold;
  color: #555;
}

.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.searchInput:focus {
  border-color: #3498db;
  outline: none;
}